# Import Packages

In [1]:
import numpy as np 
import pandas as pd

# Load Datasets

In [2]:
Month = pd.read_csv("D:\\NYU\Syllabus\Spring 2020\Quant Equity Invest\Project\Original Data\Monthly.csv")
Quarter = pd.read_csv("D:\\NYU\Syllabus\Spring 2020\Quant Equity Invest\Project\Original Data\Quarterly.csv")

In [3]:
Month.head()

,PERMNO,Date,TICKER,COMNAM,Price,Volume,Return,Shares Outstanding
0,10051,1998-12-31,HGR,HANGER ORTHOPEDIC GROUP INC,22.5000,12744.0,-0.062500,18179.0
1,10051,1999-01-29,HGR,HANGER ORTHOPEDIC GROUP INC,25.0000,9577.0,0.111111,18179.0
2,10051,1999-02-26,HGR,HANGER ORTHOPEDIC GROUP INC,15.1875,29372.0,-0.392500,18179.0
3,10051,1999-03-31,HGR,HANGER ORTHOPEDIC GROUP INC,13.5000,28203.0,-0.111111,18826.0
4,10051,1999-04-30,HGR,HANGER ORTHOPEDIC GROUP INC,14.6250,23561.0,0.083333,18826.0

In [4]:
Quarter.head()

,PERMNO,Date,TICKER,COMNAM,Current Assets,Assets,Cash&Short Term,EPS_Basic,Inventory,Current Liabilities,Liabilities,Operating Income,EPS_Operation,Revenue,Net Income
0,54594,1994-08-31,AIR,AAR CORP,307.882,410.644,7.199,0.13,182.105,66.562,220.524,7.808,0.13,97.191,2.005
1,54594,1994-11-30,AIR,AAR CORP,310.681,413.529,1.647,0.13,192.493,69.590,222.949,7.805,0.13,99.384,2.005
2,54594,1995-02-28,AIR,AAR CORP,322.377,425.363,9.511,0.18,183.795,73.251,231.240,9.389,0.18,125.232,2.005
3,54594,1995-05-31,AIR,AAR CORP,321.632,425.814,22.487,0.22,170.328,73.140,228.695,9.764,0.22,129.588,2.005
4,54594,1995-08-31,AIR,AAR CORP,311.271,411.362,28.557,0.20,167.620,59.484,213.419,9.503,0.20,109.593,3.226

# Do some Calculations

## First, Month Dataset

In [5]:
Month = Month[Month['Price'] > 0]
Month['Turnover'] = Month['Volume'] / Month['Shares Outstanding']
Month['Dollar Turnover'] = Month['Turnover'] * Month['Price']
Month.head(3)

D:\Anaconda\Setup\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

D:\Anaconda\Setup\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,PERMNO,Date,TICKER,COMNAM,Price,Volume,Return,Shares Outstanding,Turnover,Dollar Turnover
0,10051,1998-12-31,HGR,HANGER ORTHOPEDIC GROUP INC,22.5000,12744.0,-0.062500,18179.0,0.701029,15.773145
1,10051,1999-01-29,HGR,HANGER ORTHOPEDIC GROUP INC,25.0000,9577.0,0.111111,18179.0,0.526817,13.170416
2,10051,1999-02-26,HGR,HANGER ORTHOPEDIC GROUP INC,15.1875,29372.0,-0.392500,18179.0,1.615710,24.538602

## Second, Quarter Dataset

In [6]:
Quarter['Equities'] = Quarter['Assets'] - Quarter['Liabilities']
Quarter['Leverage'] = Quarter['Liabilities'] / Quarter['Assets']
Quarter['Current Ratio'] = Quarter['Current Assets'] / Quarter['Current Liabilities']
Quarter['Quick Ratio'] = (Quarter['Current Assets'] - Quarter['Inventory']) / Quarter['Current Liabilities']
Quarter['Cash Ratio'] = Quarter['Cash&Short Term'] / Quarter['Current Liabilities']

Quarter.head(3)

,PERMNO,Date,TICKER,COMNAM,Current Assets,Assets,Cash&Short Term,EPS_Basic,Inventory,Current Liabilities,Liabilities,Operating Income,EPS_Operation,Revenue,Net Income,Equities,Leverage,Current Ratio,Quick Ratio,Cash Ratio
0,54594,1994-08-31,AIR,AAR CORP,307.882,410.644,7.199,0.13,182.105,66.562,220.524,7.808,0.13,97.191,2.005,190.120,0.537020,4.625492,1.889622,0.108155
1,54594,1994-11-30,AIR,AAR CORP,310.681,413.529,1.647,0.13,192.493,69.590,222.949,7.805,0.13,99.384,2.005,190.580,0.539138,4.464449,1.698347,0.023667
2,54594,1995-02-28,AIR,AAR CORP,322.377,425.363,9.511,0.18,183.795,73.251,231.240,9.389,0.18,125.232,2.005,194.123,0.543630,4.400991,1.891879,0.129841

In [7]:
Month.to_csv("D:\\NYU\Syllabus\Spring 2020\Quant Equity Invest\Project\Original Data\Monthly1.csv")
Quarter.to_csv("D:\\NYU\Syllabus\Spring 2020\Quant Equity Invest\Project\Original Data\Quarterly1.csv")